* h1{
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
    
}
p{
    background-color: bisque;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
} 